:root {
	--basic-black: #000;
	--basic-white: #fff;
	--basic-background-color: #F2F2F2;
	--basic-extra-background-color: #EEEEEE;
	--basic-blue: #81B3D2;
	--basic-light-blue: #9DBBCD;
	--basic-extra-blue: #669EC0;
	--basic-dark-blue: #5496BD;
	--background-no-image-color: #6994C0;
	--basic-brown: #766357;
	--basic-extra-brow: #604E43;
	--basic-dark-brow: #503E33;
	--basic-button-active-color: #876B5A;
	--basic-border-input: #E5E5E5;
	--basic-dark-input: #EBEBEB;
	--background-color-map: #D8E4BE;
	--basic-toggle-color: #ABABAB;
	--basic-range-color: #808080;
	--basic-result-color: #666;
	--basic-background-color-two-page: #4B4D4F;
	--basic-disabled-chekbox: #6A6A6A;
	--box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

/* GLOBAL */
.page {
	background-color: var(--basic-background-color);
	height: 100%;
	margin: 0 40px;
}

body {
	position: relative;
	min-height: 100%;
	display: grid;
	grid-template-rows: min-content 1fr min-content;
	min-width: 1200px;
	width: 1200px;
	margin: 0;
	padding: 0;
	margin: auto;
	font-family: PT sans, Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
	text-transform: uppercase;
	background-color: var(--basic-white);
	box-shadow: var(--box-shadow);
}
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
.blank-title {
	text-align: center;
	font-family: inherit;
	font-style: normal;
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
}
/* PAGE ONE */

/* Navigation */
.main-navigation {
	min-height: 56px;
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	background-color: var(--basic-white);
}
.header-logo {
	position: absolute;
	left: 533px;
	top: 0px;
	z-index: 1;
}
.site-navigation {
	display: grid;
	grid-template-columns:  228px 200px 200px 200px 228px;
	list-style: none;
	margin: 0;
	padding: 13px 72px;
}
.site-navigation li {
	min-width: 110px;
}
.site-navigation a {
	position: relative;
	text-decoration: none;
	color: var(--basic-black);
}
.site-navigation a:hover {
	color: var(--basic-blue);
}
.site-navigation a:active {
	color: var(--basic-black);
	opacity: 30%;
}
.site-navigation .active-menu-item {
	color: var(--basic-brown);
}

.left {
	grid-column: 1 / 2;
	text-align: left;
	justify-self: start;
}
.left-two {
	grid-column: 2 / 3;
	text-align: left;
	justify-self: start;
}
.right {
	grid-column: 4 / 5;
	text-align: right;
	justify-self: end;
}
.right-two {
	grid-column: 5 / 6;
	text-align: right;
	justify-self: end;
}
/* MAIN */
.welcome {
	position: relative;
	width: 1200px;
	height: 510px;
	background: url("../img/background-first-page.png") no-repeat;
	background-color: var(--background-no-image-color);
}
.shape {
	position: absolute;
	bottom: 0;
}
.lattering {
	position: absolute;
	left: 31%;
	top: 15%;
}
.about-sedona {
	max-width: 520px;
	text-align: center;
	margin: 0 auto;
}
.about-sedona h2 {
	padding-top: 24px;
	padding-bottom: 19px;
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
}
.content {
	display: grid;
	grid-template-columns: repeat(6, 200px);
	padding-top: 48px;
}
.reason-one {
	grid-column: 1 / -1;
	display: flex;
	justify-content: space-between;
	background-color: var(--basic-blue);
	color: var(--basic-white);
	margin: 0;
	padding: 0;
}
.reason-one-text {
	text-align: center;
	margin: auto 39px;
}
.reason-one-text p {
	padding-bottom: 10px;
}
.reason-one h2 {
	max-width: 151px;
	margin: 0 auto;
	font-weight: bold;
	font-size: 21px;
	line-height: 21px;
	padding: 14px 0 11px 0;
}
.facilities {
	grid-column: 1 / -1;
	min-height: 330px;

}
.facilities-list {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	text-align: center;
	list-style: none;
	margin: 0;
	padding: 0;
	padding-top: 60px;
	padding-left: 11px;
}
.image-hous-icon {
	background: url("../img/house.png") no-repeat;
	background-position: top;
}
.image-foot-icon {
	background: url("../img/foot.png") no-repeat;
	background-position: top;
}
.image-souvenir-icon {
	background: url("../img/souvenir.png") no-repeat;
	background-position: top;
}
.facilities-list li {
	max-width: 290px;
	margin-left: 44px;
    padding: 0;
    margin-right: 65px;
    line-height: 21px;
}
.facilities-list h2 {
	font-weight: bold;
	font-size: 21px;
	line-height: 21px;
	padding: 83px 0 7px 0;
}
.reason-two {
	grid-column: 1 / -1;
	display: flex;
	justify-content: space-between;
	min-height: 256px;
	background-color: var(--basic-blue);
	color: var(--basic-white);
	margin: 0;
	padding: 0;
}
.reason-two-text {
	grid-column: -1;
	text-align: center;
	margin: auto 39px;
}
.reason-two h2 {
	max-width: 151px;
	margin: 0 auto;
	font-weight: bold;
	font-size: 21px;
	line-height: 21px;
	padding-bottom: 18px;
}
.other-reasons {
	grid-column: 1 / -1;
	min-height: 256px;
	background-color: var(--basic-extra-background-color);
}
.other-reasons-list {
	display: flex;
	justify-content: space-around;
	list-style: none;
	text-align: center;
	margin: 0;
	padding: 40px 0;
}
.other-reasons-list li {
	padding: 0 47px 0 54px;
 }
.other-reasons-list h2 {
	padding: 0 85px;
	font-weight: bold;
	font-size: 21px;
	line-height: 21px;
	padding-bottom: 20px;
	padding-top: 4px;
	margin: 0;
}
.other-reasons-list p {
	width: 278px;
    padding: 10px;
    margin: 0;
}
.search {
	min-height: 290px;
}
.interested {
	text-align: center;
	padding-top: 21px;
}
.interested h2 {
	font-weight: 700;
	font-size: 30px;
	line-height: 24px;
	padding: 8px 0 8px 0;
}
.button {
	width: 568px;
	height: 86px;
	background: var(--basic-brown);
	text-align: center;
	margin: 0 auto;
	margin-top: 49px;
}
.button:hover {
	background-color: var(--basic-extra-brow);
}
.button:active {
	background-color: var(--basic-dark-brow);
}
.button-serch {
	display: block;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	color: var(--basic-white);
	text-decoration: none;
	padding: 30px;
}
.button-serch:active {
	opacity: 30%;
}
.map {
	position: relative;
	height: 474px;
	background: url("../img/map.png") no-repeat;
	background-color: var(--background-color-map);
}
.form-serch {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	width: 568px;
	height: 395px;
	background-color: var(--basic-white);
	margin: 0 auto;
	padding: 0;
	box-shadow: var(--box-shadow);
	opacity: 1;
	visibility: visible;
	transition: all 0.5s ease 0s;
	transform: translate(0px, 0px);
}
.form-serch-animation {
	display: block;
	visibility: hidden;
	opacity: 0;
	transition: all 0.5s ease 0s;
	transform: translate(0px, 20%);
}
.form-wrap {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 458px;
	height: 290px;
	margin: 0 auto;
	padding-top: 50px;
}
.form-wrap label {
	font-family: inherit;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 26px;
}
.check-in-date {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 5px;
}
.check-out-date {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.form-wrap input {
	position: relative;
	width: 296px;
	height: 36px;
	font-family: inherit;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 26px;
	color: var(--basic-black);
	text-transform: uppercase;
	border: none;
	background: var(--basic-background-color);
	margin: 0;
	padding-left: 10px;
	padding-right: 40px;
}
.adult-children {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: -3px 0 21px 0;
}

.modal-error {
	animation-name: shake;
	animation-duration: 0.6s;
}
@keyframes shake {
	0%, 100% { transform: translateX(0); }
 	10%, 30%, 50%, 70%, 90% { transform: translateX(-10px); }
 	20%, 40%, 60%, 80% { transform: translateX(10px); }

}
.form-wrap input[type="text"]:hover {
	background-color: var(--basic-dark-input);
}
.form-wrap input[type="text"]:focus {
	background: var(--basic-white);
	outline: 2px solid var(--basic-border-input);
}
input[type="text"]::placeholder {
	-webkit-color: var(--basic-black);
	-moz-color: var(--basic-black);
	color: var(--basic-black);
	opacity: 1;
}
.claendar-one {
	position: absolute;
	width: 21px;
	height: 23px;
	background: url(../img/calendar.svg) no-repeat;
	right: 65px;
	top: 62px;
	border: none;
	padding: 0;
	cursor: pointer;
}
.claendar-two {
	position: absolute;
	width: 21px;
	height: 23px;
	background: url(../img/calendar.svg) no-repeat;
	right: 65px;
	top: 131px;
	border: none;
	padding: 0;
	cursor: pointer;
}
.claendar-one:hover {
	background: url(../img/calendar-hover.svg);
}
.claendar-two:hover {
	background: url(../img/calendar-hover.svg);
}
.claendar-one:active {
	background: url(../img/calendar-active.svg);
}
.claendar-two:active {
	background: url(../img/calendar-active.svg);
}
.form-wrap input[type="number"] {
	position: relative;
	width: 114px;
	height: 38px;
	padding: 0;
	text-align: center;
	background: var(--basic-background-color);
}

/* INPUT ARROWS */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}
.input-button {
	position: absolute;
	width: 94px;
	height: 38px;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	left: 177px;
}
.input-button.button-two {
	position: absolute;
	width: 94px;
	height: 38px;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	left: 410px;
}
.input-button button {
	width: 12px;
	height: 11px;
	border: none;
	padding: 0;
	cursor: pointer;
}
.minus {
	align-self: center;
	justify-self: center;
	background: url("../img/minus.svg")no-repeat;
}
.minus:hover {
	background: url("../img/minus-hover.svg")no-repeat;
}
.minus:active {
	background: url("../img/minus-active.svg")no-repeat;
}
.plus {
	background: url("../img/plus.svg")no-repeat;
}
.plus:hover {
	background: url("../img/plus-hover.svg")no-repeat;
}
.plus:active {
	background: url("../img/plus-active.svg")no-repeat;
}
.end-button-form {
	grid-column: 1 / -1;
	grid-row: 5;
	width: 458px;
	height: 56px;
	font-family: inherit;
	font-weight: bold;
	font-size: 21px;
	color: var(--basic-white);
	background-color: var(--basic-blue);
	border: 0;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
}
.end-button-form:hover {
	background-color: var(--basic-extra-blue);
}
.end-button-form:active {
	color: var(--basic-light-blue);
	background-color: var(--basic-dark-blue);
}

/* FOOTER */
.footer {
	z-index: 10;
	width: 1200px;
	height: 120px;
	background-color: var(--basic-white);
	display: grid;
	grid-template-columns: 1fr 250px 1fr;
	align-items: center;
	opacity: 90%;
}
.contact-information {
	grid-column: 1 / 2;
	justify-self: center;
}
.contacts {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
}
.contacts a {
	color: var(--basic-black);
	text-decoration: none;
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
	padding-bottom: 10px;
}
.contacts a:hover {
	color: var(--basic-blue);
}
.contacts a:active {
	color: var(--basic-black);
	opacity: 30%;
}
.social-networks {
	grid-column: 2 / 3;
	justify-self: center;
	text-align: center;
}
.social {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0;
}
.social a {
	margin: 0 3px;
}
.twitt {
	display: block;
	width: 46px;
	height: 48px;
	background: url("../img/twitt-icon.svg");
}
.twitt:hover {
	width: 46px;
	height: 48px;
	background: url("../img/twitt-hover.svg");
}
.twitt:active {
	background: url("../img/twitt-active.svg");
}
.facebook {
	display: block;
	width: 46px;
	height: 48px;
	background: url("../img/facebook.svg");
}
.facebook:hover {
	background: url("../img/face-hover.svg");
}
.facebook:active {
	background: url("../img/face-active.svg");
}
.youtube {
	display: block;
	width: 46px;
	height: 48px;
	background: url("../img/youtube-icon.svg");
}
.youtube:hover {
	background: url("../img/youtube-hover.svg");
}
.youtube:active {
	background: url("../img/youtube-active.svg");
}
.academy {
	grid-column: 3 / 4;
	justify-self: center;
	display: flex;
	flex-direction: row;
}
.academy p {
	margin: 0;
	padding: 6px 15px 0 0;
}
.footer-logo {
	display: block;
	width: 115px;
	height: 33px;
	background: url(../img/logo-htmlacademy.svg);
}
.footer-logo:hover {
	background: url("../img/logo-htmlacademy-hover.svg");
}
.footer-logo:active {
	background: url("../img/logo-htmlacademy-active.svg");
}

/* PAGE TWO */

/* MAIN */

.customization {
	min-height: 217px;
	background-image: url("../img/background-two-page.jpg");
	background-color: var(--basic-background-color-two-page);
}
.header-form {
	display: grid;
	grid-template-columns: 73px 253px 1fr 316px 73px;
	color: var(--basic-white);
}
.header-form h2 {
	color: var(--basic-white);
	font-weight: bold;
	font-size: 16px;
	line-height: 21px;
	margin-bottom: 26px;
}
.first-form {
	grid-column: 2 / 3;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 13px;
	border: none;
	padding: 0;
}
.first-form label {
	position: relative;
	display: block;
	cursor: pointer;
	padding-left: 40px;
	margin-bottom: 24px;
}
.filter-input-chekbox + label:before {
	content: "";
	position: absolute;
	top: -2px;
	left: 0;
	width: 19px;
	height: 19px;
	border: 2px solid var(--basic-white);
	border-radius: 3px;
}
.filter-input-chekbox:disabled + label:before {
	border: 2px solid var(--basic-disabled-chekbox);
}
.filter-input-chekbox:checked + label:before {
	content: "";
	position: absolute;
	top: -2px;
	left: 0;
	width: 26px;
	height: 23px;
	border: none;
	background: url("../img/checkbox-on.svg")no-repeat;
}
.filter-input-chekbox:disabled:checked + label:before {
	background: url("../img/checkbox-disabled-on.svg")no-repeat;
}
.filter-input-chekbox:focus + label {
	outline: none;
}
.filter-input-chekbox:focus-visible + label {
	outline: 2px solid var(--basic-white);
	outline-offset: 5px;
}
.second-form {
	grid-column: 3 /4;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 13px;
	border: none;
	padding: 0;
}
.second-form label {
	position: relative;
	display: block;
	cursor: pointer;
	padding-left: 40px;
	margin-bottom: 24px;
}
.final {
	grid-column: 4 / 5;
}
.price-range {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin: 0;
	padding: 0;
	border: none;
	margin-top: 25px;
}
.price-range legend {
	font-weight: bold;
	font-size: 16px;
	line-height: 21px;
	padding: 0;
}
.range-controls {
	position: relative;
	width: 316px;
	height: 20px;
    padding-top: 9px;
}
.range-controls .scale {
	height: 2px;
	background-color: var(--basic-range-color);
}
.range-controls .bar {
	width: 80%;
	height: 2px;
	background: var(--basic-white);
}
.range-controls .toggle {
	position: absolute;
	top: 0;
	left: 0;
	width: 4px;
	height: 4px;
	padding: 0;
	background: var(--basic-toggle-color);
	border: 8px solid var(--basic-white);
	border-radius: 50%;
	box-shadow: 0 2px  var(--basic-toggle-color);
	cursor: pointer;
}
.range-controls .toggle-max {
	left: 252px;
}
.toggle-min:hover {
	top: -3px;
	left: -2px;
	width: 6px;
	height: 6px;
	border: 11.5px solid var(--basic-white);
}
.toggle-max:hover {
	top: -3px;
	left: 250px;
	width: 6px;
	height: 6px;
	border: 11.5px solid var(--basic-white);
}
.price-controls {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 316px;
	height: 36px;
	border: 2px solid var(--basic-white);
	border-radius: 2px;
	background: 0;
	margin-top: 10px;
	margin-bottom: 10px;
}
.price-controls label {
	padding: 0 45px;
}
.price-controls input {
	width: 36px;
	font-family: inherit;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;
	color: var(--basic-white);
	border: 0;
	background: 0;
	padding-left: 4px;
}
.demarcation-line {
	height: 22px;
	border: 1px solid var(--basic-white);
	background: var(--basic-white);
}
.show {
	min-width: 137px;
	min-height: 36px;
	color: var(--basic-white);
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
	text-transform: uppercase;
	border: 2px solid var(--basic-white);
	border-radius: 2px;
	background: 0;
	margin: 12px 28%;
}
.show:hover {
	color: var(--basic-black);
	background-color: var(--basic-white);
	cursor: pointer;
}
.sorting-items {
	display: grid;
	grid-template-columns: 73px 246px 270px 1fr 35px 73px;
	height: 86px;
	border-bottom: 1px solid var(--basic-border-input);
}
.items {
	grid-column: 2 / 3;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.sorting {
	grid-column: 3 / 4;
	display: flex;
	justify-content: space-between;
	list-style: none;
	align-items: center;
}
.sorting li {
	padding-bottom: 3px;
}
.sorting a {
	text-decoration: none;
	color: var(--basic-toggle-color);
	font-size: 12px;
	line-height: 18px;
	border-bottom: 1px dashed var(--basic-blue);
	cursor: pointer;
}
.sorting a:hover {
	color: var(--basic-blue);
}
.sorting a:active {
	color: var(--basic-black);
	border: none;
}
.sorting .active-sorting-item {
	color: var(--basic-blue);
	border: none;
}
.up-and-down {
	grid-column: 5 / 6;
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
}
.image-up {
	background: url("../img/icon-up.svg")no-repeat;
	width: 11px;
	height: 10px;
}
.image-up:hover {
	background: url("../img/icon-up-hover.svg")no-repeat;
}
.image-up:active {
	background: url("../img/icon-up-active.svg")no-repeat;
}
.image-down {
	background: url("../img/icon-down-active.svg")no-repeat;
	width: 11px;
	height: 10px;
}
.image-down:hover {
	background: url("../img/icon-down-hover.svg")no-repeat;
}
.image-down:active {
	background: url("../img/icon-down-active.svg")no-repeat;
}

/* RESULT */

.result {
	margin: 0;
	padding: 0;
	list-style: none;
}
.result li {
	padding: 23px 0 26px 0;
	margin: 0;
	border-bottom: 1px solid var(--basic-border-input);
}
.result p {
	margin: 0;
}
.result a {
	text-decoration: none;
}
.result h2 {
	color: var(--basic-black);
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
	margin: 0;
}
.result h2:hover {
	color: var(--basic-blue);
}
.result h2:active {
	color: var(--basic-black);
	opacity: 0.3;
}
/* RESULT ONE GRID */

.result-one {
	display: grid;
	grid-template-columns: 73px 160px 260px 1fr 127px 73px;
	margin: 0;
}
.photo-one-result {
	grid-column: 2 / 3;
	padding-top: 6px;
}
.result-one-details {
	grid-column: 3 / 4;
	display: grid;
	grid-template-columns: 110px 650px;
	grid-template-rows: repeat(3, 1fr);
	grid-column-gap: 6px;
	justify-items: start;
	align-items: start;
	margin-left: 5px;
	margin-bottom: 5px;
}
.rusult-title {
	grid-column: 1 / 3;
	grid-row: 1;
}
.categori {
	grid-column: 1 / 2;
	grid-row: 2;
}
.price {
	grid-column: 2 / 3;
	grid-row: 2;
}
.result-rating {
	grid-column: 5 / 6;
	display: grid;
	grid-template-rows: repeat(2, 44px);
	justify-items: end;
	padding-top: 6px;
}
.rating {
	color: var(--basic-result-color);
	background-color: var(--basic-background-color);
	padding: 3px 14px;
	align-self: end;
}

/* RESULT TWO GRID */

.result-two {
	display: grid;
	grid-template-columns: 73px 160px 260px 1fr 127px 73px;
	margin: 0;
}
.photo-two-result {
	grid-column: 2 / 3;
	padding-top: 6px;
}
.result-two-details {
	grid-column: 3 / 4;
	display: grid;
	grid-template-columns: 110px 142px;
	grid-template-rows: repeat(3, 1fr);
	grid-column-gap: 6px;
	justify-items: start;
	align-items: start;
	margin-left: 5px;
	margin-bottom: 5px;
}
.stars-two {
	margin: -3px -13px;
}

/* RESULT THREE GRID */

.result-three {
	display: grid;
	grid-template-columns: 73px 160px 260px 1fr 127px 73px;
	margin: 0;
}
.photo-three-result {
	grid-column: 2 / 3;
	padding-top: 5px;
}
.result-three-details {
	grid-column: 3 / 4;
	display: grid;
	grid-template-columns: 110px 142px;
	grid-template-rows: repeat(3, 1fr);
	grid-column-gap: 6px;
	justify-items: start;
	align-items: start;
	margin-left: 5px;
	margin-bottom: 5px;
}
.stars-three {
	margin: -2px -24px;
}

/* DETAIL BUTTON */
.detail-button {
	grid-column: 1 / 2;
	grid-row: 3;
	align-self: end;
	display: block;
	padding: 3px 17px;
	color: var(--basic-white);
	text-align: center;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 21px;
	background-color: var(--basic-blue);
}
.detail-button:hover {
	background-color: var(--basic-extra-blue);
}
.detail-button:active {
	color: var(--basic-light-blue);
	background-color: var(--basic-dark-blue);
}
.detail-button-text {
	display: block;
	color: var(--basic-white);
	font-weight: bold;
	padding: 3px 9px;
}
.detail-button-text:active {
	opacity: 0.3;
}

/* RESERVATION BUTTON */
.reservation-button {
	grid-column: 2 / 3;
	grid-row: 3;
	align-self: end;
	display: block;
	padding: 3px 17px;
	color: var(--basic-white);
	text-align: center;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 21px;
	background-color: var(--basic-brown);
}
.reservation-button-text {
	display: block;
	color: var(--basic-white);
	font-weight: bold;
	padding: 3px 8px;
}
.reservation-button:hover {
	background-color: var(--basic-extra-brow);
}
.reservation-button:active {
	color: var(--basic-button-active-color);
	background-color: var(--basic-dark-brow);
}
.reservation-button-text:active {
	opacity: 0.3; }
